@{

    ViewData["Title"] = "Add Gender";
    
}
@model EcommerceUI.Admin.Models.User.GenderModel
<section>
    <div class="container col-sm-10 mt-5">
        <div class="d-flex justify-content-end mb-3">
            <a href="/list/" class="btn btn-dark" role="button">Back To List</a>
        </div>
        <div class="mb-3">
            <h5>Add Gender</h5>
        </div>
      
          <hr />
        <form class="pt-3" id="add-gender" asp-route="/add/"  method="post">
            @Html.AntiForgeryToken()
            <div class="row mb-4">
                <div class="col-3 text-center">
                    <label  class="form-label fw-bold">Gender <span class="text-danger">*</span> <span>:</span></label>
                </div>
                <div class="col-6">
                    <input id="gender" name="gender" type="text" class="form-control">
                  
                </div>

            </div>
            <div class="row mb-3 d-flex justify-content-center">
                <div class="col-3 col-md-2">
                    <button type="submit"   class="btn btn-success mb-3 col-12">Add</button>                  
                </div>
              
            </div>
        </form>
    </div>
    @section Scripts {
        <script src="~/js/Validators/Admin/User/GenderValidator.js"></script>
      
    }
    

    
</section>