
@{
    ViewData["Title"] = "EditAddressType";
}

@model Ecommerce.ModelAccessLayer.Admin.Models.User.AddressTypeModel;
<section>
    <div class="container col-sm-7 mt-5">
        <div class="d-flex justify-content-end mb-3">
            <a asp-route="AddressTypeList" class="btn btn-dark" role="button">Back To List</a>
        </div>
        <div class="mb-3">
            <h5>Edit Address Type</h5>
        </div>

        <hr />
        <form class="pt-3" asp-route="EditAddressType" method="post">
            @Html.AntiForgeryToken()
            <div class="row mb-4">
                <div class="col-3 text-center">
                    <label asp-for="AddressType" class="form-label fw-bold">Address Type <span class="text-danger">*</span> <span>:</span></label>
                </div>
                <div class="col-6">
                    <input asp-for="AddressTypeId" type="hidden" />
                    <input asp-for="AddressType" class="form-control">
                    <span asp-validation-for="AddressType" class="text-danger"></span>
                </div>

            </div>
            <div class="row mb-3 d-flex justify-content-center">
                <div class="col-3 col-md-2">
                    <button type="submit" class="btn btn-success btn-sm mb-3 col-12">Add</button>
                </div>

            </div>
        </form>

    </div>
</section>

